<h1>Our team</h1>
<ul class="list-inline text-center">
  <% members = %W(matthieu guillaume) %>
  <% members.each do |member| %>
    <li>
      <%= image_tag "#{member}.jpg", class: "img-circle", style: "width: 100px"  %>
      <h3><%= member.capitalize %></h3>
    </li>
  <% end %>
</ul>

